body{
    background-color: green;
    margin: 0;

    h1{
        color: white;
        text-align: center;
        border: 1px;
        margin-top: 15px;
        margin-bottom: 3px;
        
    }
    h2{
        color: white;
        text-align: center;
    }
}