body{
    background-color: black;

    h1{
        color: white;
        text-align: center;
        font-size: 70px;
        margin-top: 150px;
        
    }
    h2{
        color: white;
        text-align: center;
        font-size: 30px;
    }
}