body{
    background-color: black;
    
    overflow-y: auto;

    .home{
        color: white;
        text-align: center;
        font-size: 95px;
        margin-top: 100px;
        
    }
    h2{
        color: white;
        text-align: center;
        font-size: 65px;
    }
    .about_me{
        transform: translateY(2500px);
        font-size: 50px;
        text-align: left;
        color: white;
    }
    p{
        font-size: 25px;
        color: white;
        text-align: left;
    }
}